@import 'vars.scss';
body{
	background-color: rgba(90, 104, 114, 0.08);
	color: $white;
	width: 100%;
	font-size: 14px;
	line-heght: .017;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	box-sizing: border-box;
	transition: .5s linear;
}
a{
	text-decoration: none;
	color: $white;
}
h1,h4{
	font-weight: 400;
	margin:0;
	padding:0;
}