@import 'vars.scss';


.decstop-menu>.add-adt{
	height: $button-height;
	background-color: rgba($white, .15);
	display: flex;
	padding: 0.1rem 1rem;
	font-size: 1em;
  border: $btn-border $green solid;
	margin-right: 1rem;
	@media screen and(max-width: 900px){
		font-size: .8em;
	}
	justify-content: center;
	align-items:inherit;
		.fa-plus-circle{
			font-size: 1.35em;
			margin-right: 10px;
			margin-left: -6%;
		}
		&:hover{
			color:$green;
			background-color: $white;
		}
	}

.bottomline>a.search {
    width: 201px;
    height: $button-height;
    background-color: $white;
    color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    &:hover{
    	background-color: $green;
    	color: $white;
    }
}
.green-button {
	    width: 100%;
	    height: $button-height;
	    background-color: $green;
	    color: $white;
	    display: flex;
	    margin: 0%;
	    justify-content: center;
	    align-items: center;	
	    box-sizing: border-box;	
	    &:hover{
	    	background-color: $white;
	    	border: $btn-border solid $green;
	    	color: $green;
	    }
	}

	.more{
	text-align: center;
    color: $bgc;
    min-height: $button-height;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: $btn-border solid $disabled-color;
    border-color: $bgrnd;
    border-style: solid;
    border-width: $btn-border 0px 0px 0px;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    @media screen and(max-width: 500px){
    	font-size: .9em;
    }
    &:hover{
    	border-color: $green;
    	color: $green;
    }
}


// styles for mobile humburger button
.icon{
  display: block;
  width: 2rem;
  height: auto;
}
svg.hamburger-icon {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  .hamburger-icon__container {
    fill: #fff;
    .hamburger-icon__line {
     transition: transform 400ms ease-out;
     transform-origin: 16px 16px;
    }
    .hamburger-icon__middle {
      transform: scale(1);
    }
  }
}
.icon.active {
	position: fixed;
	top:1rem;
	right: 3rem;
	z-index: 10005;
  	svg.hamburger-icon{
    .hamburger-icon__top {
      transform: rotate(-45deg)  translate(0, 8px);
    }
    .hamburger-icon__bottom {
      transform: rotate(45deg)  translate(0, -8px);
    }
    .hamburger-icon__middle {
      transform: scale(0);
    }
  }
}

// styles for button in mobile menu
i.fa.fa-plus-circle{
	margin-right: .4rem;
}
.menu-for-mobile-wrapper>ul>li:nth-child(7){
	margin: 1rem 0;
}
.add-adt {
    padding: .7rem 1rem;
    background-color: rgba(255, 255, 255, .15);
    &:hover{
    	color: $green;
    	border: 2px solid $green;
    }
    
}

.footer a:hover{
  color: $green;
}