@import 'buttons.scss';
@import 'mixins.scss';
// menu for mobile

.icon, .topline-mobile-logo{
	@media screen and (max-width:850px){
		display: block;
	}
	@media screen and(min-width: 851px){
		display: none;
	}

}
.menu-for-mobile{
	display: none;
}
.menu-for-mobile-background{
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	z-index: 1100;
	background-color: rgba(90,104,144,.9);
	filter: blur(3px);
}
.menu-for-mobile-wrapper{
	position: absolute;
    z-index: 10000;
    display: flex;
    left: 2rem;
    width: 100%;
    justify-content: flex-start;
	ul{
		margin: 0 0 0 2rem;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction:column;
		align-items: baseline;
		li{
			height: 2rem;
		}
	}
}
.active-mobile-menu:before{
	@include hover_underline(1.5rem);
}
.active-mobile-menu:hover:before{
	width: 110%;
}
.mobile-menu-login:before{
	@include hover_underline(1.5rem);
}
.mobile-menu-login:hover:before{
	width: 110%;
}

.menu-for-mobile{
	display: none;
}
