@import 'vars.scss';
// миксины
@mixin hover_underline($top){
	left: -2px;
    position: relative;
    top: $top;
    background: $white;
    bottom: 5px;
    content: " ";
    display: block;
    height: 2px;
    -webkit-transition: width .5s cubic-bezier(0.165, .84, .44, 1);
    transition: width .5s cubic-bezier(0.165, .84, .44, 1);
    width: 0;
}

body{
	background-color: rgba(90, 104, 114, 0.08);
	color: $white;
	width: 100%;
	font-size: 14px;
	line-heght: .017;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	box-sizing: content-box;
}
a{
	text-decoration: none;
	color: $white;
}
h1,h4{
	font-weight: 400;
	margin:0;
	padding:0;
}
.main{
	max-width: 1140px;
	min-height: 301px;
	width:100%;
	margin: 0 auto;
	background-image: url("../img/background.jpg");
	background-repeat: round;
}
.header{
	margin-top: 15px;
	padding: 18px 119px;
	h1{
		margin-top: 9%;
		margin-bottom: 6%;
		font-size: 30px;
		line-height: .038;
	}
}
.topline{
	display:flex;
	align-items: center;
	justify-content: space-between;
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		li{
			padding-right: 44px;
			font-size: 14px;
			line-height: .02;
			img{
				width: 35px;
				height: 40px;

			}
			&:last-child img{
				display: inline-block;
				width: 20px;
				padding-right: 10px;
			}
			&:last-child a{
				display: flex;
				align-items:center;
			}
		}

	}
	.add-adt{
	margin-left: 7%;
	width: 236px;
	height: 40px;
	background-color: rgba($white, .15);
	display: flex;
	justify-content: center;
	align-items:inherit;
		.fa-plus-circle{
			font-size: 1.35em;
			margin-right: 10px;
			margin-left: -6%;
		}
		&:hover{
			color:$green;
			background-color: $white;
		}
	}

}	
.active_main_menu:before{
	@include hover_underline(1vw);
}
.active_main_menu:hover:before{
	width: 110%;
}
.login:before{
	@include hover_underline(1.8vw);
}
.login:hover:before{
	width: 110%;
}



.bottomline{
	display: inline-flex;
	justify-content: space-between;
	align-items:flex-end;
    max-width: 890px;
    width: 100%;
    position: absolute;
	.select-city{
		min-width:344px;
		height: 75px;
	}
	.select-city>h4 {
    margin-bottom: 3%;
	}
	.rooms {
    min-width: 255px;
    margin-left: -1vw;
	}
	.number-rooms{
		list-style-type: none;
	    display: flex;
	    justify-content: space-between;
	    width: 100%;
	    padding: 0;
	    margin: 0;
    	margin-top: 10px;
	    a {
	    width: 40px;
	    height: 40px;
	    border: 2px solid;
	    border-radius: 50%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    &:hover{
	    	background-color: $white;
	    	color: $bgc;
	    	border-color: $white;
	    }
		}
	}
	a.search {
    width: 200px;
    height: 40px;
    background-color: $white;
    color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    line-height: .017;
    &:hover{
    	background-color: $green;
    	color: $white;
    }
	}
}


// second section real  estate
.real-estate{
	margin: 0 auto;
	color: $bgc;
	background-color: $white;
	max-width: 890px;
	max-height: 295px;
	.wrapper{
		display: flex;
		justify-content: space-between;
		padding: 40px 38px;
		margin-top: 2.5%;
		.real-estate-descr{
			h1{
				font-size: 24px;
			}
			.select-real-estate{
				padding: 5.5% 2% 8.5%;
				list-style-type: none;
				margin: 0;
				display: flex;
				li{
					padding-right: 12%;
				}
			}
			.select-station{
				height: 50px;
			}
		}

		img{
			width: 411px;
			height: 212px;
		}
		a.result {
	    width: 320px;
	    height: 40px;
	    background-color: $green;
	    color: $white;
	    display: flex;
	    margin-top: 7%;
	    justify-content: center;
	    align-items: center;		
	    &:hover{
	    	background-color: $white;
	    	border: 2px solid $green;
	    	color: $green;
	    }
	}
	}
	a{
		color: $bgc;
	}
}

.select-real-estate-active:before{
	@include hover_underline(1.8vw);
	background-color: $green;
}
.select-real-estate-active:hover:before{
	width: 110%;
}
// добавление красной точки в селект
span.item:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left:1vw;
    width: 1vw;
    content: "";
    background: url(../img/red-circle.svg) center no-repeat;
}


// 3тья секция 
.best-offer{
	position: relative;
	margin: 0 auto;
	color: $bgc;
	background-color: $white;
	max-width: 890px;
	min-height: 390px;
	.best-offer-wrapper{
		margin-top: 20px;
		padding: 15px 25px;
		h1{
			text-align: center;
			font-size: 24px;
		    margin-bottom: 25px;
		    min-height: 32px;
		}
		h3{
			font-weight: 400;
			display: flex;
    		align-items: center;
    		margin-bottom: 15px;
    		img{
    			margin-left: 25px;
    		}
		}
		.more{
			color: $bgc;
		}
		.best-offer-thumbnails{
			display: flex;
			justify-content: space-between;
			.best-offer-item{
				position: relative;
				width: 202px;
				height: 248px;
				}
				
				.best-offer-description{
					.best-offer-group{
						color: $disabled-color;
						font-size: 12px;
		    			line-height: .16;
		    			span{
		    				margin-right: 5px;
		    				&:nth-child(2){
		    					height: 7px;
		    				}
		    			}
					}
					h4{
						font-size: 12px;
					    line-height: .16;
					    margin-top: 25px;
					    img{
					    	margin-right: 10px;
					    }
					}
				}
			}
			
		}
	}
	a.more{
    color: $bgc;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px $disabled-color;
    border-style: solid none;
    font-size: 16px;
    line-height: .024;
    position: absolute;
    bottom: 0;
    width: 100%;
    &:hover{
    	border-color: $green;
    	color: $green;
    }
	
}
.best-offer-item:before {
    width: 15px;
    z-index: 100;
    position: absolute;
    content: "";
    height: 26px;
    background: url('../img/burger-menu-vertical.png');
    right: 7%;
    top: 5%;
}

.menu-items{
	width: 100%;
    list-style-type: none;
    display: flex;
    padding-left: 0;
    justify-content: center;
    margin: 0 0 27px;
    li{
    	padding-right: 20px;
    }
	a{
		color: $bgc;
	}
}
.items-active:before{
	@include hover_underline(1.8vw);
	background-color: $green;
}
.items-active:hover:before{
	width: 110%;
}
.helper {
    margin-bottom: 50px;
}

// lb styles start 
// 4th section

.telegram-promo{
	@extend .best-offer;
	background: none;
	display:flex;
	flex-direction: column;
	color: $dark-grey;
	.telegram-promo-description{
		padding-top: 4.1rem;
		display:flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h4{
			font-size: 1.5rem; //24px
			font-weight: normal;
			line-height: 2rem; //32px;
			max-width: 16.6rem;
		}
		p{
			padding-top: 0.5rem;
			max-width: 30.3rem;
			font-size: 0.875rem;
		}
	}
	.telegram-tabs{
		flex-direction: row;
		padding-top: 0.2rem;
		a{	
			display: inline-block;
			padding: 1rem 1.2rem;
			box-sizing: border-box;
		}
		a:hover{
			border-bottom: 1px green solid;
			box-sizing: border-box;
		}
	}
	a{ 
		color: $dark-grey;
		font-size: 0.875rem;
	}
	.telegram-promo-presentation{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0.4rem;
		padding-bottom: 6.3rem;
		img {
			padding-top: 2.9rem;
    		padding-left: 5rem;
    		width: 31.6853933%;
    		height: 64.382%;
		}
		.telegram-promo-presentation--right{
			display: flex;
			flex-direction: column;
			width: 48.93%;
			padding-top: 3rem;
			background-color: $white;
			min-height: 25.1rem;
			}
			ol>li{
				font-size: 1.25rem; //20px
			}
			h2{
				font-weight: normal;
				font-size: 1.5rem; //24px
			}
		}
}

.blog-metrovka{
	@extend .best-offer;
	.blog-metrovka-header{
		text-align:center;
		h2{
			font-size: 1.5rem;
			font-weight:normal;
		}
		p{
			font-size: 0.875rem;
			line-height:1.25rem;
			max-width:30rem;
			margin: 0 auto;
		}
	}
	.blog-wrapper{
		display: flex;
		justify-content: space-around;
		padding-bottom: 5rem;
		img{
			max-width: 272px;
		}
	}
	.blog-item{
		width: 30.5617%;
		a{
			color: $dark-grey;
		}
		.blog-description{
			.title{
				text-transform: uppercase;
			}
			.title--purple{
				color:#BA8FF7;
			}
			.title--green{
				color:#30AE63;
			}
			.title--blue{
				color:#2573D8;
			}
			h3{
				font-weight:normal;
				line-height: 1.5rem
			}
		}
	}
}

footer{
	padding-bottom: 3rem;
}

.footer{
	@extend .best-offer;
	background: none;
	display:flex;
	flex-direction: column;
	a{
		color: $dark-grey;
		text-decoration:none;
		display: block;
    	margin: 0 auto;
	}
	h2{
		font-size: 1rem;
		font-weight: normal;
		line-height: 2rem;
	}
	.footer-links-info{
		display:flex;
		ul{
			width:25%;
		}
		li{
			list-style-type: none;
			max-width: 10.5rem; 
			line-height: 2rem;
			a.result{
			    background-color: $green;
			    color: $white;
			    display: flex;
			    margin-top: 7%;
			    justify-content: center;
			    align-items: center;		
			    &:hover{
			    	background-color: $white;
			    	border: 2px solid $green;
			    	color: $green;
			    }
			}
		}
	}
}