$bgrnd: rgba(90, 104, 114, 0.08);
$bgc: #5A6872;
$white: #FFFFFF;
$green: #30AE63;
$dark-grey:#152935;
$light-white: #dfe3e6;
$disabled-color: #8C9BA5;
$button-height: 40px;
$btn-border: 2px;
$pink: #D00202;
$lite-pink: #FFEFEA;
$lite-gray: #D8D8D8;
$lite-green: #EAFFF5;
